//colors
$astrabeach: #ead3a8;
$milanored: #963333;
$flamered: #8b1e23; //dot after h2, h3, hover
$freespeechred: #cc1313; //menu,a, form button
$neroblack: #222222; //menu
$darkblue: #161618;
$nightriderdarkgrey: #343434; //message us background
$zambezidarkgrey: #5c5c5c;
$dimgrey: #6b6a6a; //paragraph
$lightgrey: #e2e2e2;//listen, buy buttons for albums
$white: #fff; //h1-h6
